

<h4> Log in below </h4>

<%= form_for :user do |f| %>

    <%= f.label :name %> 
    <%= f.collection_select :name, User.all, :name, :name %><br>
    <%= f.label :password, "Password" %>
    <%=f.password_field :password %><br>
    <%= f.submit "Sign in" %>
<% end %>




